{% extends "layout.html" %}

{% block head %}
    <title>Climatic</title>
{% endblock %}
{% block main %}

<div class="container-fluid padding " style="height:650px;">
    <div class="row welcome text-center top-text" style="padding: 10em;">
        <div class="col-12">
            <h1 class="display-5 p-5" style="color: #3EB489; font-weight: 500;">Protecting natural habitats from extinction.</h1>
        </div>
        <div>
            <a href="/about"><button type="button" class="btn btn-outline-secondary btn-lg text-center;" style="color: #3EB489">About Us</button></a>
        </div>
    </div>
</div>


<!-- JUMBOTRON -->
<div class="container-fluid jumbotron">
    <div class="row reveal">
        <div class="col-6" style="padding: 4em">
            <p class="lead" style="font-size: 200%; font-weight: 600;"> Climate change threatens every part of the planet. It’s a global problem that requires global cooperation.</p>
        </div>
        <div class="col-6" style="padding: 4em">
            <p style="font-size: 175%"> Our mission is to create international consensus around the climate emergency, as well a shared plan for saving the planet’s most exceptional wild places.</p>
        </div>

    </div>
</div>

<div class="container-fluid padding" style="background-color: #263238; opacity: 0.9;">
    <div class="column reveal col-5">
        <div>
            <h1 class="p-5" style="color: #3EB489; font-size: 200%;">Changing the world is possible. We’ve done it before.</h1>
        </div>
        <div class="container-fluid">
            <p style="color: white; padding-left: 2.5em;">Our leadership team bring years of experience to bear on the greatest challenge of our time. We’re results driven, with a proven record of previous successes.</p>
        </div>
        <div style="padding-left: 3.2em; padding-top: 2em;">
            <a href="/about"><button type="button" class="btn btn-outline-secondary btn-lg" style="color: #3EB489;">Learn More</button></a>
        </div>
    </div>
</div>

<div class="container-fluid jumbotron">
    <div class="row">
        <div>
            <p class="lead text-center" style="font-size: 150%; color: #263238; padding: 2em 8em 2em"> “Clarkson has helped accomplish over 200 of its partners’ major conservation goals. They inspire everyone to care for the planet.” </p>
        </div>
        <div>
            <p class="lead text-center" style="font-size: 125%; color: #263238">- Quote Source</p>
        </div>
    </div>
</div>

<!-- Meet the Team-->
<div class="container-fluid padding" style="background-color:#263238; opacity: 0.9;">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4" style="color: white;">Meet the Team</h1>
        </div>
    </div>
</div>
<!-- Cards -->
<div class="container-fluid padding text-center" style="background-color:#263238; opacity: 0.9;">
    <div class="row padding" style="padding-left: 4.2em;">
        <div class="col-md-3">
            <div class="card polaroid" style="height: 40vw; width: 25vw;">
                <img class="card-img-top" src="/static/johndoe.jpeg">
                <div class="card-body">
                    <h4 class="card-title">Johnny Doe</h4>
                    <p class="card-text">john is a grape fello who does a lot of grape fello thingies. johnny doe is pro boi</p>
                    <a href="https://www.linkedin.com/" target="_blank" class="btn btn-outline-secondary" style="color: #3EB489">See Profile</a>
                </div>
            </div>
        </div>
        
     
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="card polaroid" style="height: 40vw; width: 25vw;">
                <img class="card-img-top" src="/static/johndoe.jpeg">
                <div class="card-body">
                    <h4 class="card-title">Other Doe Boi</h4>
                    <p class="card-text"> this john is built very different than his other john friends. he won vocab bee, but doesn't know what vocab is</p>
                    <a href="https://www.linkedin.com/" target="_blank" class="btn btn-outline-secondary" style="color: #3EB489">See Profile</a>
                </div>
            </div>
        </div>
        

        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="card polaroid" style="height: 40vw; width: 25vw;">
                <img class="card-img-top" src="/static/johndoe.jpeg">
                <div class="card-body">
                    <h4 class="card-title">Pro Joe Boi</h4>
                    <p class="card-text">john is a super grapo fallow you is grape as spelling. he won spelling be champ with final word as john</p>
                    <a href="https://www.linkedin.com/" target="_blank" class="btn btn-outline-secondary" style="color: #3EB489">See Profile</a>
                </div>
            </div>
        </div>  
    </div> 
</div>
<!-- Connect-->
<div class="container-fluid padding" style="background-color: white; opacity: 0.9; ">
    <div class="row text-center padding">
        <div class="col-12">
            <h2 style="color:#263238">Connect</h2>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>

{% endblock %}