{% extends "layout.html" %}

{% block head %}
    <title>Climatic</title>
{% endblock %}

{% block js %}
<script>
    function reveal() {
        var reveals = document.querySelectorAll(".reveal");

        for (var i = 0; i < reveals.length; i++) {
            var windowHeight = window.innerHeight;
            var elementTop = reveals[i].getBoundingClientRect().top;
            var elementVisible = 0;

            if (elementTop < windowHeight - elementVisible) {
                reveals[i].classList.add("active");
            } 
            else {
                reveals[i].classList.remove("active");
            }
        }
    }

    window.addEventListener("scroll", reveal)

</script>
{% endblock %}

{% block css %}
<style>
    .indexFirst {
        height: 650px;
        width: 100%;
        text-align: center;
        position: relative;
        top: 200px;
    }

    .indexFirst h1 {
        margin-bottom: 80px;
        font-size: 50px;
        color: #3EB489;
    }
    .indexSec {
        background-color: white;
        height: 400px;
        width: 100%;
    }
    .indexSecTxt {
        display: flex;
    }
    .indexSecTxt > p {
        flex: 1;
        position: relative;
        font-size: 30px;
        top: 100px;
        margin: auto 100px;
    }
    .indexSecTxt p:nth-child(1) {
        font-weight: 600;
    }
    .button {
        color: #3EB489;
        border: 1px solid gray;
        border-radius: 5px;
        font-size: 22px;
        font-weight: 350;
        padding: 7px;
        background-color: rgba(0, 0, 0, 0);
    }
    .button:hover {
        background-color: gray;
        transition: background-color 0.25s;
    }
    .darkBackground {
        background-color: #263238;
        opacity: 0.9;
    }
    .indexThird {
        height: 300px;
        width: 100%;
    }
    .indexThird {
        text-align: center;
    }
    .indexThird > * {
        position: relative;
        top: 50px;
        margin-bottom: 50px;
    }
    .indexThird h1 {
        color: #3EB489;
    }
    .indexThird p {
        color: white;
    }
    .indexFourth{
        background-color: white;
        height: 400px;
    }
    .indexFourth > * {
        position: relative;
        top: 100px;
        text-align: center;
    }
    .indexFourth p:nth-child(1) {
        font-size: 25px;
        margin-bottom: 80px;
    }
    .indexFourth p:nth-child(2) {
        font-size: 20px;
    }
    .indexFifth {
        height: 200px;
    }
    .indexFifth h1{
        color: white;
        text-align: center;
        position: relative;
        top: 80px;
        font-size: 50px;
    }
    .indexSixth {
        display: flex;
    }
    .indexSixth > * {
        flex: 1;
    }
    .teamMember {
        height: 400px;
        background-color: white;
    }
</style>
{% endblock %}

{% block main %}

<div class="indexFirst">
    <h1>protecting natural habitats from extinction.<h1>
    <a href="/about"><button type="button" class="button">About Us</button></a>
</div>

<div class="indexSec">
    <div class="indexSecTxt">
        <p> Climate change threatens every part of the planet. It’s a global problem that requires global cooperation.</p>
        <p> Our mission is to create international consensus around the climate emergency, as well a shared plan for saving the planet’s most exceptional wild places.</p>
    </div>
</div>

<div class="indexThird darkBackground reveal">
    <h1>Changing the world is possible. We’ve done it before</h1>
    <p>Our leadership team bring years of experience to bear on the greatest challenge of our time. We're results driven, with a proven record of previous successes.</p>
    <a href="/about"><button type="button" class="button">Learn More</button></a>
</div>

<div class="indexFourth">
    <p> “Clarkson has helped accomplish over 200 of its partners’ major conservation goals. They inspire everyone to care for the planet.” </p>
    <p>- Quote Source</p>
</div>

<div class="indexFifth darkBackground">
    <h1>Meet the Team</h1>
</div>

<div class="indexSixth darkBackground">
    <div class="teamMember"> 
        <img src="/Users/swaraag/Documents/Swaraag/dev/VSC/Flask/Climatic/static/images/johndoe.jpeg">
    </div>

    <div class="card polaroid">
        <img class="card-img-top" src="/static/images/johndoe.jpeg">
        <div class="card-body">
            <h4 class="card-title">Johnny Doe</h4>
            <p class="card-text">john is a grape fello who does a lot of grape fello thingies. johnny doe is pro boi</p>
            <a href="https://www.linkedin.com/" target="_blank" class="btn btn-outline-secondary" style="color: #3EB489">See Profile</a>
        </div>
    </div>




    <div class="card polaroid">
        <img class="card-img-top" src="static/images/johndoe.jpeg">
        <div class="card-body">
            <h4 class="card-title">Other Doe Boi</h4>
            <p class="card-text"> this john is built very different than his other john friends. he won vocab bee, but doesn't know what vocab is</p>
            <a href="https://www.linkedin.com/" target="_blank" class="btn btn-outline-secondary" style="color: #3EB489">See Profile</a>
        </div>
    </div>


    <div class="card polaroid">
        <img class="card-img-top" src="static/images/johndoe.jpeg">
        <div class="card-body">
            <h4 class="card-title">Pro Joe Boi</h4>
            <p class="card-text">john is a super grapo fallow you is grape as spelling. he won spelling be champ with final word as john</p>
            <a href="https://www.linkedin.com/" target="_blank" class="btn btn-outline-secondary" style="color: #3EB489">See Profile</a>
        </div>
    </div>
</div>
<!-- Connect
<div class="container-fluid padding" style="background-color: white; opacity: 0.9; ">
    <div class="row text-center padding">
        <div class="col-12">
            <h2 style="color:#263238">Connect</h2>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>-->

{% endblock %}