{% extends "layout.html" %}

{% block head %}
    <title>Register</title>
{% endblock %}
{% block main %}

<div class="container-fluid" style="height: 100vh; opacity: 0.9;">
    <div class="row welcome text-center top-text" style="padding: 40vh">
        <div class="col-12">
            <form class="box" action="/register" method="post">
                <h1 style="color: white; padding-bottom: 0.3em;">Register</h1>
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" name="password" placeholder="Password" type="password">
                </div>
                <div class="form-group">
                    <input class="form-control" name="confirmation" placeholder="Confirm password" type="password">
                </div>
                <div style="color: red;">{{ error }}</div>
                <button class="btn btn-primary submit" name="submit" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}